<div class="notification unread">
    <div class="avatar">
      <img src="./assets/images/avatar-anna-kim.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p>
        <a href="#" class="bold name">Mark Webber</a> 
        reacted to your recent post 
        <a href="#" class="bold tournament">My first tournament</a>
        <span class="unread-content">This is unread</span>
      </p>
      <span class="notification-time">3m ago</span>
    </div>
  </div>

  <div class="notification read">
    <div class="avatar">
      <img src="./assets/images/avatar-anna-kim.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p><a href="#" class="bold name">Mark Webber</a> reacted to your recent post <a href="#" class="bold tournament">My first tournament</a></p>
      <span class="notification-time">3m ago</span>
    </div>
  </div>

  <div class="notification notification-message read">
    <div class="avatar">
      <img src="./assets/images/avatar-anna-kim.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p><a href="#" class="bold name">Mark Webber</a> reacted to your recent post <a href="#" class="bold tournament">My first tournament</a></p>
      <span class="notification-time">3m ago</span>
      <div class="message-box">
        <p>
          Hello, thanks for setting up the Chess Club. I've been a member for a few weeks now and 
          I'm already having lots of fun and improving my game.
        </p>
      </div>
    </div>
  </div>

  <div class="notification notification-picture read">
    <div class="avatar">
      <img src="./assets/images/avatar-anna-kim.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p><a href="#" class="bold name">Mark Webber</a> commented on your picture</p>
      <span class="notification-time">3m ago</span>
    </div>
    <div class="notification-image-thumbnail">
      <img src="./assets/images/image-chess.webp" alt="A picture of her playing chess">
    </div>
  </div>

  <!-- Ordered -->

  <div class="notification unread">
    <div class="avatar">
      <img src="./assets/images/avatar-mark-webber.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p>
        <a href="#" class="bold name">Mark Webber</a> 
        reacted to your recent post 
        <a href="#" class="bold tournament">My first tournament</a>
        <span class="unread-content">This is unread</span>
      </p>
      <span class="notification-time">1m ago</span>
    </div>
  </div>
  <div class="notification unread">
    <div class="avatar">
      <img src="./assets/images/avatar-angela-gray.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p>
        <a href="#" class="bold name">Angela Gray</a>followed you 
        <span class="unread-content">This is unread</span>
      </p>
      <span class="notification-time">3m ago</span>
    </div>
  </div>

  <div class="notification unread">
    <div class="avatar">
      <img src="./assets/images/avatar-jacob-thompson.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p>
        <a href="#" class="bold name">Jacob Thompson</a> 
        has joined your group
        <a href="#" class="bold tournament">Chess Club</a>
        <span class="unread-content">This is unread</span>
      </p>
      <span class="notification-time">3m ago</span>
    </div>
  </div>

  <div class="notification read">
    <div class="avatar">
      <img src="./assets/images/avatar-nathan-peterson.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p>
        <a href="#" class="bold name">Nathan Peterson</a> 
        reacted to your recent post 
        <a href="#" class="bold tournament">5 end-game strategies to increase
          your win rate
        </a>
      </p>
      <span class="notification-time">2 weeks ago</span>
    </div>
  </div>

  <div class="notification notification-message read">
    <div class="avatar">
      <img src="./assets/images/avatar-anna-kim.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p><a href="#" class="bold name">Mark Webber</a> reacted to your recent post <a href="#" class="bold tournament">My first tournament</a></p>
      <span class="notification-time">5 days ago</span>
      <div class="message-box">
        <p>
          Hello, thanks for setting up the Chess Club. I've been a member for a few weeks now and 
          I'm already having lots of fun and improving my game.
        </p>
      </div>
    </div>
  </div>

  <div class="notification notification-picture read">
    <div class="avatar">
      <img src="./assets/images/avatar-kimberly-smith.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p><a href="#" class="bold name">Kimberly Smith</a> commented on your picture</p>
      <span class="notification-time">1 week ago</span>
    </div>
    <div class="notification-image-thumbnail">
      <img src="./assets/images/image-chess.webp" alt="A picture of her playing chess">
    </div>
  </div>

  <div class="notification read">
    <div class="avatar">
      <img src="./assets/images/avatar-anna-kim.webp" alt="A picture of a person">
    </div>
    <div class="notification-content">
      <p>
        <a href="#" class="bold name">Anna Kimn</a> 
        left the group
        <a href="#" class="bold chess-club">Chess Club
        </a>
      </p>
      <span class="notification-time">2 weeks ago</span>
    </div>
  </div>